/*@import url("<?php echo base_url()?>");*/

.sss-form-img{
  content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
  background-repeat: no-repeat;
  min-width: 815px;
  max-height: 750px;
  padding: 0px;
  margin: 0px;
}
.sss-form{
  padding: 0;
}
.sss-panel, .pagibig-panel{
    min-height: 405px!important;
}

#pageSSSContri .form-sss{
        position: absolute;
    }

    #pageSSSContri .test-relative{
        position: absolute;
        width: 900px;
    }

    #pageSSSContri .panel-body.form-body {
        width: 100%;
        max-width: 980px;
        min-height: 1230px;
        overflow: auto;
        position: relative;
        margin: 0 auto;
    }

#pageSSSContri .form-sss{
    display: block;
    background-image: url("../../assets/app/img/BS50318000105995-removeData.png");
    background-repeat: no-repeat;
    min-height: 1184px;
    width: 900px;
    margin: 0 auto;
    background-size: contain;

}


.button-print{
    display: block;
}


/*display of pagibig form*/ 
.print-form-sss{
    display: none;
}

#pageSSSContri .employerName{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 199px;
    margin-left: 59px;
    width: 320px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}
#pageSSSContri .employerAddress{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 200px;
    margin-left: 59px;
    width: 320px;
    height: 23px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .amountDue{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 200px;
    margin-left: 462px;
    width: 122px;
    height: 14px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerZip{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 206px;
    margin-left: 59px;
    width: 320px;
    height: 17px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .dueDate{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 206px;
    margin-left: 438px;
    width: 150px;
    height: 16px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerId{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 204px;
    margin-left: 59px;
    width: 320px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}
#pageSSSContri .generationDate{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 204px;
    margin-left: 474px;
    width: 123px;
    height: 15px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .listSummary{
        border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 229px;
    margin-left: 47px;
    width: 680px;
    height: 19px;
    color: white;
    font-size: 17px;
    font-family: calibri;
    position: absolute;

}
#pageSSSContri .totalEmployees{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 230px;
    margin-left: 178px;
    width: 65px;
    height: 14px;
    font-size: 11px;
    position: absolute;
}
#pageSSSContri .socialSecurity{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 243px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .employeeCompensation{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 240px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .total{
        border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 238px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .grandTotal{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 239px;
    margin-left: 546px;
    width: 181px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    position: absolute;
}
#pageSSSContri .bankCopyName{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 47px;
    width: 264px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}

#pageSSSContri .bankCopyEmployerId{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 47px;
    width: 92px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri .bankCopySummaryMonth{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 138px;
    width: 167px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

/*end of pagibig display form*/

.back-form{
    display: none;
}


@media print {
    @page{
        size: A4 portrait;
        margin:0;
    }

    body:before{
        -webkit-print-color-adjust: exact;
        padding: 0;
    }
    .sidebar{
        display: none;
    }
    
    .form-sss{
        display: none;
    }
    .button-print{
        display: none;
    }
    .print-form-sss{
        display: block;  
        page-break-after: always;
    }

    .sss-image-form{
        padding: 0;
        margin: 0;
        width: 20cm;
        height: 27.7cm;
        content: url("../../assets/app/img/BS50318000105995-1.jpg");
        position: absolute;
    }

    .sss-form-content{
        position: absolute;
        z-index: 22;
       
    }

    #pageSSSContri .test-relative{
        display: none;
    }

    .sss-back-form{
        display: block;
        width: 20cm;
        height: 27.7cm;
        padding-top: 85px;
        content: url("../../assets/app/img/BS50318000105995-2.jpg");
        margin-bottom: 0;
    }


    .panel-heading{
        display: none;
    }

    /*start of printing layout pagibig*/

#pageSSSContri .employerName{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 170px;
    margin-left: 55px;
    width: 320px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .employerAddress{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 55px;
    width: 320px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .amountDue{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 75px;
    width: 120px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .employerZip{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 55px;
    width: 320px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .dueDate{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 60px;
    width: 150px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .employerId{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 55px;
    width: 320px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .generationDate{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 95px;
    width: 120px;
    height: 20px;
    font-size: 11px; 
}
#pageSSSContri .listSummary{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 14px;
    margin-left: 44px;
    margin-bottom: 0px;
    width: 680px;
    height: 20px;
    color: white;
    font-size: 14px; 
}
#pageSSSContri .totalEmployees{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-left: 177px;
    width: 60px;
    height: 10px;
    padding-top: 0px;
    font-size: 9px; 
    position: absolute;
}
#pageSSSContri .socialSecurity{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 7px;
    margin-left: 657px;
    margin-bottom: 0px;
    width: 70px;
    height: 20px;
    font-size: 10px; 
}
#pageSSSContri .employeeCompensation{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 657px;
    width: 70px;
    height: 20px;
    font-size: 10px; 
}
#pageSSSContri .total{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 657px;
    width: 70px;
    height: 20px;
    font-size: 10px; 
}
#pageSSSContri .grandTotal{
    border: 1px solid red;
    background-color: transparent;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 657px;
    width: 70px;
    height: 20px;
    font-size: 10px; 
}
    /*end of printing layout pagibig*/

    .am-scroll-top{
        display: none!important;
    }

    /*.sss-form-img {
        content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
        -webkit-print-color-adjust: exact!important;
        display: block;
        max-width: 890px!important;
        max-height: 1034px!important;
        padding: 0!important;
        margin: 0!important;
    }
   
    .panel-heading{
        display: none;
    }
    .am-scroll-top{
        display: none!important;
    }
    .sss-form{
        padding: 0!important;
        margin: 0!important;
    }
    .main-content{
        margin: 0!important;
        padding: 0!important;
    }*/
}
