.sss-form-img{
  content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
  background-repeat: no-repeat;
  min-width: 815px;
  max-height: 750px;
  padding: 0px;
  margin: 0px;
}
.sss-form{
  padding: 0;
}
.main-content{
    padding: 0px!important;
}
.login-body{
	background-image: url('../../assets/img/background2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#logo-image{
	width: 394px;
    height: 80px;
}
.login-form{
	width: 420px;
    text-align: center;
    color: white;
    margin-top: 20px;
    float: right;
    margin-right: 148px;
    padding: 20px;
}

#username, #password{
	border: 0;
    background-color: transparent;
    box-shadow: none;
    color: white!important;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 36px;
    border-radius: 0;
}

.input-group-addon{
	font-size: 24px;
    color: #ffffff;
}

.input-group{
	border-bottom: 2px solid #4a4949;
    padding: 10px 0;
}

#register-anchor{
	color: #ffffff;
}

a:hover{
	text-decoration: none;
    outline: none;
    color: #89fae9;
}

.form-control:focus{
    border-color: #96CA2D!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(150, 202, 45, 0.6)!important;
}

.btn-success{
    background-color: #8EC63F;
    border-color: #8EC63F;
}

.sss-panel, .pagibig-panel{
    min-height: 405px!important;
}

.form-pagibig{
    display: block;
    background-image: url("../../assets/app/img/FPF060_Member'sContributionRemittance_V01-3.png");
    background-repeat: no-repeat;
    min-height: 1450px;
    min-width: 900px;
}


/*display of pagibig form*/ 
.print-form-pagibig{
    display: none;
}

.employerId{
    border: 1px solid red;
    background-color: transparent;
    text-align: center;
    margin-top: 110px;
    margin-left: 750px;
    width: 332px;
    height: 46px;
}

.businessName{
    border: 1px solid red;
    margin-top: 55px;
    margin-left: 50px;
    height: 34px;
    width: 692px;
}

.branch{
    border: 1px solid red;
    margin-left: 30px;
    height: 34px;
    width: 300px;
}

.roomNo{
    border: 1px solid red;
    margin-top: 32px;
    margin-left: 40px;
    height: 31px;
    width: 190px;
}

.buildingName{
    border: 1px solid red;
    margin-top: 32px;
    margin-left: 10px;
    height: 31px;
    width: 240px;
}

.blockNo{
    border: 1px solid red;
    margin-top: 32px;
    margin-left: 20px;
    height: 31px;
    width: 240px;
    margin-right: 280px;
}

.streetName{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 30px;
    height: 31px;
    width: 130px;
}

.subdivision{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 10px;
    height: 31px;
    width: 136px;
}

.barangay{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 10px;
    height: 31px;
    width: 149px;
}

.city{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 10px;
    height: 31px;
    width: 256px;
}

.province{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 15px;
    height: 31px;
    width: 220px;
}

.zipCode{
    border: 1px solid red;
    margin-top: 17px;
    margin-left: 13px;
    height: 31px;
    width: 84px;
}

.periodCovered{
    border: 1px solid red;
    margin-left: 770px;
    margin-top: 17px;
    height: 35px;
    width: 300px;
}
.midNo1{
    border: 1px solid red;
    margin-top: 42px;
    margin-left: 22px;
    width: 132px;
    height: 22px;
}

.name1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 361px;

}

.accountNo1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 114px;
}

.monthly1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 110px;
}

.employeeShare1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 74px;
}

.employerShare1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 70px;
}

.total1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 78px;
}

.remarks1{
    border: 1px solid red;
    margin-top: 42px;
    height: 22px;
    width: 96px;
}

.midNo2{
    border: 1px solid red;
    margin-top: 2px;
    margin-left: 22px;
    width: 132px;
    height: 22px;
}

.name2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 361px;

}

.accountNo2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 114px;
}

.monthly2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 110px;
}

.employeeShare2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 74px;
}

.employerShare2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 70px;
}

.total2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 78px;
}

.remarks2{
    border: 1px solid red;
    margin-top: 2px;
    height: 22px;
    width: 96px;
}



/*end of pagibig display form*/

@media print {
     @page{
        size: letter portrait;
        margin: 4.0cm;
      }

    
    .form-pagibig{
        display: none;
    }
    .print-form-pagibig{
        display: block;
    }
    .panel-heading{
        display: none;
    }
    .sss-form-img {
        content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
        -webkit-print-color-adjust: exact!important;
        display: block;
        max-width: 890px!important;
        max-height: 1034px!important;
        padding: 0!important;
        margin: 0!important;
    }
   
    .panel-heading{
        display: none;
    }
    .am-scroll-top{
        display: none!important;
    }
    .sss-form{
        padding: 0!important;
        margin: 0!important;
    }
    .main-content{
        margin: 0!important;
        padding: 0!important;
    }
}
