.sss-form-img{
  content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
  background-repeat: no-repeat;
  min-width: 815px;
  max-height: 750px;
  padding: 0px;
  margin: 0px;
}
.sss-form{
  padding: 0;
}
.main-content{
    padding: 0px!important;
}
.login-body{
	background-image: url('../../assets/img/background2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#logo-image{
	width: 394px;
    height: 80px;
}
.login-form{
	width: 420px;
    text-align: center;
    color: white;
    margin-top: 20px;
    float: right;
    margin-right: 148px;
    padding: 20px;
}

#username, #password{
	border: 0;
    background-color: transparent;
    box-shadow: none;
    color: white!important;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 36px;
    border-radius: 0;
}

.input-group-addon{
	font-size: 24px;
    color: #ffffff;
}

.input-group{
	border-bottom: 2px solid #4a4949;
    padding: 10px 0;
}

#register-anchor{
	color: #ffffff;
}

a:hover{
	text-decoration: none;
    outline: none;
    color: #89fae9;
}

.form-control:focus{
    border-color: #96CA2D!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(150, 202, 45, 0.6)!important;
}

.btn-success{
    background-color: #8EC63F;
    border-color: #8EC63F;
}

.sss-panel, .pagibig-panel{
    min-height: 405px!important;
}

@media all {
    .sss-form-img {
        content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
        -webkit-print-color-adjust: exact!important;
        display: block;
        max-width: 890px!important;
        max-height: 1034px!important;
        padding: 0!important;
        margin: 0!important;
    }
    @page{
        size: letter portrait;
        margin: 4.0cm;
      }
    .panel-heading{
        display: none;
    }
    .am-scroll-top{
        display: none!important;
    }
    .sss-form{
        padding: 0!important;
        margin: 0!important;
    }
    .main-content{
        margin: 0!important;
        padding: 0!important;
    }
}
